<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('./partials/header'); %>
    <title>TechRolEmi Weather42</title>
  </header>
  <body>
    <h1>Geolocation Pinpoint Weather</h1>
    <div class="xcode" style="display: none;"></div>
    <input type="hidden" id="xcree" name="xcree" value="ZTg4ZTFhODA5NmNkNDg5N2I3OWIyMzBhOWM0OWIyNDM=">
    <div id="geoLatLng" action="showPosition()">
        <!-- pinpoint positon verbish will be loaded into here -->
        <!-- <p><%= xkey %></p> -->
    </div>
    <hr>
    <p>Weather information is powerful knowledge used in forecasting the production of certain operations to help determine the economic bottom line. There are countless human endeavors affected by weather factors. Rain is good for growers, and forewarning is valuable in extreme weather, while the sunny sky and windy days could be good for energy production. For example, solar power production needs to know the number of hours of sunlight specific to geographical location. Wind farm needs to know wind speed, direction, etc. The travel and hospitality industry is most affected by dynamic weather patterns. From agriculture to space-faring, weather plays a key role in the decision-making process.</p>
<hr />
    <p>There are weather detection stations situated in and around you. The inner working of making data available is not of interest to the populous but it is vital to a functioning society. Although, the National Weather Service is a government agency that disseminates data free of charge. Weather data has been monetized by repackaging in ways the population can consume. e.g. Local TV news reserve a segment devoted to weather ubiquitously. Weather data is available at your fingertips. It is all factored into a transferable cost by some service providers you're currently paying. For weather application developers, the effective cost per thousand impressions (eCPM) metric is higher compared to educational apps. You can effectively monetize your project if you do it right.</p>
    <div>
    <hr>
    <br />
    <a href="https://github.com/hurricanemark/Weather_Report_NodeJS_EJS_Express_VisualCrossing_API" target="_blank">GitHub source</a>

    <br />
    <a href="https://hub.docker.com/u/marknre" target = "_blank">Docker image</a>
    
        <fieldset>
            <form action="/weatherbit" method="post">
                <input name="xcode" type="hidden" class="xcode" value="ZTg4ZTFhODA5NmNkNDg5N2I3OWIyMzBhOWM0OWIyNDM=" required>
          </form>
        </fieldset>
    </div>


    <main>
        <div class="currentConds"></div>
  
    </main>
<footer>
  <%- include('./partials/footer'); %>
</footer>
    <script type="module" src="geolocation.js"></script>

    </body>
</html>