<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body  class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-9">
                <div class="jumbotron jumbotron-fluid">
                    <h1>About us</h1>
                    <strong>Our mission</strong>
                    <hr>
                    <p>TechRolEmi helps users simplify the complexity of daily life on the go. We put critical information at your fingertips so you can effortlessly make snap decisions base on trusted data.</p>
                    <br>
                    <p>We consolidate up-to-date information pertaining to you and package it into inteligent, and intuitive display.  We take victory dance if by using TechRolEmi, you have saved some minutes of your day to get things done.  </p>
                    <hr>
                    <p>Support Ukraine.</p>
                    <br />

                    <h5>Drop us a line:</h5>

                    <form action="mailto:webmaster@rolemi.com" method="post" enctype="text/plain">
                        Name:<br>
                        <input type="text" name="name"><br>
                        E-mail:<br>
                        <input type="text" name="mail"><br>
                        Comment:<br>
                        <input type="text" name="comment" size="70"><br><br>
                        <input type="submit" value="Send">
                        <input type="reset" value="Reset">
                    </form>

                    <br>
                    <a href="https://rolemi.com/" target="_blank">Website</a>
                                    
                    <br />
                    <a href="https://hub.docker.com/u/marknre" target = "_blank">Docker image</a>

                </div>
            </div>

            <div class="col-sm-3">
                <div class="well">
                    <h5>Perpetual motion</h5>

                    <video width="auto" height="440" controls autoplay loop muted>
                        <source src="perpetualmotion.webm" type="video/webm">
                        <!-- <source src="perpetualmotion.ogg" type="video/ogg"> -->
                        Your browser does not support the video tag.
                    </video>

                    
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>